<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Launch School Assessment Similator</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
